.experience-wrapper {
    margin: .1rem 1rem 1rem 1rem;
}

.legend {
    display: flex;
    justify-content: space-around;
}

.education, .work {
    width: 50%;
}

.experience-type-title {
    text-align: center;
}

.legend-item {
    cursor: initial;
    display: flex;
    padding: .2rem;
}

.period-legend {
    width: 4px;
    display: flex;
    margin-right: 0.3rem;
    border-radius: 100px;
}

.period-legend.lyceum {
    background: #ffc76f;
}

.period-legend.university {
    background: #014b87;
}

.period-legend.internship {
    background: #ed561d;
}

.period-legend.pentalog {
    background: #0a7af8;
}

.period-legend.orange {
    background: #ff7900;
}

.period-legend-title {
    font-size: 10pt;
    font-weight: 600;
}

.period-legend-subtitle {
    font-size: 9pt;
}

#timeline {
    position: relative;
    margin: 0.5rem auto;
    width: 100%;
    height: 50px;
}

#main-axe {
    position: absolute;
    top: 20px;
    height: 2px;
    width: 100%;
    background-image: linear-gradient(-45deg, #8739f9, #37b8f1);
    border-radius: 100px;
}

.period {
    position: absolute;
    height: 4px;
    border-radius: 100px;
}

.period.lyceum {
    background: #ffc76f;
    width: 36%;
    top: 10px;
    left: 8%;
}

.period.university {
    background: #014b87;
    width: 38%;
    top: 10px;
    left: 47%;
}

.period.internship {
    background: #ed561d;
    width: 4%;
    top: 0;
    left: 53%;
}

.period.pentalog {
    background: #0a7af8;
    width: 25%;
    top: 0;
    left: 58%;
}

.period.orange {
    background: #ff7900;
    width: 3%;
    top: 0;
    left: 86%;
}

.year {
    position: absolute;
    font-size: 10pt;
    font-weight: bold;
    background-image: -webkit-linear-gradient(-45deg, #8739f9, #37b8f1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 1px 4px;
    border-left: 3px solid #37b8f1;
    border-bottom: 3px solid #37b8f1;
    border-radius: 5px;
}

.bullet {
    position: absolute;
    width: 3px;
    height: 5px;
    background: #37b8f1;
    border-radius: 100px;
}

.bullet-2016 {
    left: 10%;
}
.bullet-2017 {
    left: 20%;

}
.bullet-2018 {
    left: 30%;

}
.bullet-2019 {
    left: 40%;

}
.bullet-2020 {
    left: 50%;

}
.bullet-2021 {
    left: 60%;

}
.bullet-2022 {
    left: 70%;

}
.bullet-2023 {
    left: 80%;
}
.bullet-2024 {
    left: 90%;
}

@media only screen and (max-width: 768px) {
    .legend {
        flex-direction: column;
    }

    .legend-item {
        padding: .1rem 0;
    }

    .education, .work {
        width: 100%;
    }

    .year {
        font-size: 8pt;
    }
}

@media only screen and (max-width: 375px) {
    .year {
        font-size: 6pt;
    }
}
